.wrapper, .map{
    height: 100%;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}