.create-input{
    width:100%;
    border-width: 2px;
    padding: 4px 2px;
    margin-bottom: 2px;
    outline: 0;
}

/*.submit-button{*/
/*    padding:2px 4px;*/
/*    border-width: 2px;*/
/*    background-color: yellow;*/

/*}*/
/*.submit-button:hover {*/
/*    color:blue;*/
/*}*/