body {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {    
  outline: 0;
}

.svg-1 {
  position: absolute;
  top: 220px;
  left: -180px;
  z-index: 0;
}

.svg-2 {
  position: absolute;
  top: 400px;
  left: 90%;
  z-index: 0;
}

/*-------------------*/


.logo {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.main-logo {
  font-size: 65px;
  font-stretch: ultra-condensed;
  background: linear-gradient(45deg, #485b7d 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrap-mini-logo {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-logo, .bottom-logo {
  font-style: italic;
  color: #4d4e4f;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/


.cars-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.car {
  height: 150px;
  width: 600px;
  border: 1px solid #d6dde5;
  border-radius: 7px;
  margin: 20px;
  margin-top: 0;
  transition: all 0.2s;
  user-select: none;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.car:hover {
  box-shadow: 0px 0px 3px 3px #e0e7f3;
  cursor: pointer;
}

.wrap-car-info {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-info-car {
  margin-top: 0;
  font-size: 17px;
  width: auto;
  max-width: 150px;
}

.dop-info-car {
  font-size: 10px;
  margin: 0 3px 3px 3px;    
  color: #4d4e4f;
  margin-bottom: 17px;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/


.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  width: 100px;
  height: 50px;
  border: 1px solid #d6dde5;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
}

.create-button:hover {
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px 0px 3px 3px #e0e7f3;
}

.search-field {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.input-text {
  border: none;
  border-bottom: solid 1px silver;
  height: 30px;
  font-size: 18px;
  color: grey;
  width: 300px;
  transition: all 0.2s;
}

.input-text:focus {
  color: black;
  border-bottom: solid 1px rgb(64, 125, 205);
}

.wrap-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.wrap-search-button:hover {
  cursor: pointer;
}

.search-button {
  position: relative;    
  width: 20px;
  height: 20px;    
  box-sizing: border-box;
  background-color: white;    
  border: 3px solid slategray;
  border-radius: 50%;
  transition: all 0.1s;
}

.wrap-search-button:hover .search-button {
  border-color: rgb(7, 107, 207);
}

.wrap-search-button:hover .search-button:after {
  background-color: rgb(7, 107, 207);
}

.search-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;    
  width: 10px;
  height: 3px;
  background-color: slategray;    
  border-radius: 0 1.5px 1.5px 0;    
  transform-origin: 0 50%;
  transform: translateX(100%) rotate(45deg);
}

.wrap-search-button:active .search-button {
  width: 19px;
  height: 19px;
  margin-left: 1px;
}

.search-result-wrap {
  margin-bottom: 30px;
  border-bottom: solid 1px silver;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/


.wrap-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s;
}

.submit-button:hover, .submit-back:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px #e0e7f3;
}

.wrap-change-button, .wrap-delete-button {
  padding: 10px;
  border: 1px solid #d6dde5;
  border-radius: 50%;
}

.wrap-change-button:hover, .wrap-delete-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px #e0e7f3;
  background-color: #cad6e4;
}

.submit-back {
  width: 100px;
  height: 50px;
  border: 1px solid #d6dde5;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/*------------------------------------------------------------------------------*/

.wrap-page-car-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-info, .second-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.error-handler {
  position: absolute;
  text-align: center;
  width: 302px;
  font-size: 14px;
}
/*
.information{
  width: 70%;
  margin: auto;
  min-width: 300px;
}*/

.info-field {
  margin: 40px;
}

.info-field input {
  border: none;
  height: 30px;
  font-size: 18px;
  border-bottom: solid 1px silver;
  text-align: center;
  margin: 0;
}

.wrap-submit-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 100px;
  height: 50px;
  border: none;
  border: 1px solid #d6dde5;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMore{
  cursor: pointer;
}